<!-- partial:index.partial.html -->
<div class="card">
    <div class="card__content">
        <h3>{{title}}</h3>


        <p>{{body}}</p>
        <a href="{{link}}"><img src="{{link}}" class="card__image" alt="{{link}}"></a>
        <br>
        <i>gepost op:<time datetime="{{datum}}" class="card__date">{{create_date}}</time></i>
        <table>
            <tr>
                <td>
                    <form action="/modifyView" method="POST">
                        <div class="mb-3 mt-3">
                            <button type="submit" class="btn btn-secondary" name="modify" value="{{id}}">Wijzig Share</button>
                        </div> 
                    </form>
                </td>
                <td>
                    <form action="/delete" method="POST">
                        <div class="mb-3 mt-3">
                            <button type="submit" class="btn btn-danger" name="delete" value="{{id}}">Verwijder Share</button>
                        </div> 
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- partial -->