<!-- partial:index.partial.html -->
<div class="card">
    <div class="card__content">
        <h3>{{title}}</h3>
        <br>
    </div>
    <div class="card__content">
        <p>{{body}}</p>
        <a href="{{link}}"><img src="{{link}}" class="card__image" alt="brown couch"></a>
        <form action="/delete" method="POST">
            <div class="mb-3 mt-3">
                <button type="submit" class="btn btn-primary" name="delete" value="{{id}}">Delete Post</button>
            </div> 
        </form>
        <form action="/modifyView" method="POST">
            <div class="mb-3 mt-3">
                <button type="submit" class="btn btn-primary" name="modify" value="{{id}}">Modify Post</button>
            </div> 
        </form>
        <i>gepost op:<time datetime="{{datum}}" class="card__date">{{create_date}}</time></i>
    </div>
</div>
<!-- partial -->