<!-- partial:index.partial.html -->
<div class="container-sm p-5 my-5 border">
    <form method="POST" action="/register">
        <div class="form">
            <div class="mb-3 mt-3">
                Name:
                <input type="text" class="form-control" placeholder="Jan Smit" name="username" required>
            </div>
            <div class="mb-3 mt-3">
                Email:
                <input type="email" class="form-control" placeholder="user@mail.nl" name="email" required>
            </div>
            <div class="mb-3 mt-3">
                Password:
                <input type="password" class="form-control" placeholder="******" name="password" required>
            </div>
            <table>
                <tr>
                    <td><button type="submit" class="btn btn-primary">Submit</button></td>
                    <td><button type="reset" class="btn btn-danger">Cancel</button></td>
                </tr>
            </table>    
        </div> 
    </form>
</div>
<!-- partial -->