<!-- partial:index.partial.html -->
<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Aanmelden maar</title>
  <link rel="stylesheet" href="register-style.css">
 </head>
 <body> <!-- partial:index.partial.html -->
 <section>
   <div class="signin">
    <form method="post" action="/register">
    <div class="content">
     <h2>Aanmelden maar</h2>
     <div class="form">
      <div class="inputBox">
       <input type="text" name="username"> <i>Username</i>
      </div>

      <div class="inputBox">
       <input type="text" name="email" value="henk@henk.nl"> <i>E-mail</i>
      </div>

      <div class="inputBox">
       <input type="password" name="password"> <i>Password</i>
      </div> 

      <div class="links"> <a href="#">Wachtwoord vergeten</a> <a href="/login">Inloggen</a>

      </div> 

      <div class="inputBox">
       <input type="submit" value="Aanmelden">
      </div> 

     </div> 

    </div> 
    </form>
   </div>
 </section>
 </body></html>
