<!-- partial:index.partial.html -->
<div class="container-sm p-5 my-5 border">
    <form method="POST" action="/share">
        <div class="form">
            <div class="inputBox">
                <input type="text" name="title" required> <i>Title</i>
            </div>
            <div class="inputBox">
                <input type="text" name="body" required> <i>Body</i>
            </div>
            <div class="inputBox">
                <input type="text" name="link" required> <i>Link</i>
            </div> 
            <div class="inputBox">
                <input type="text" name="user_id" required> <i>User_id</i>
            </div> 
            <div class="inputBox">
                <input type="submit" value="Submit">
            </div> 
            <div class="inputBox">
                <input type="reset" value="Cancel">
            </div>    
        </div> 
    </form>
</div>
<!-- partial -->