<!-- partial:index.partial.html -->
<div class="container-sm p-5 my-5 border">
    <form method="POST" action="/share">
        <div class="form">
            <div class="mb-3 mt-3">
                Titel van Share:
                <input type="text" class="form-control" placeholder="De titel van de Share." name="title" required>
            </div>
            <div class="mb-3">
                Inhoud:
                <textarea class="form-control" rows="5" name="body" placeholder="Schrijf wat beschrijvende tekst voor bij de Share."></textarea>
            </div>
            <div class="mb-3 mt-3">
                Link naar afbeelding:
                <input type="text" class="form-control" placeholder="Vul de web-link naar een afbeelding op een website in." name="link" required>
            </div>        
            <table>
                <tr>
                    <td><button type="submit" class="btn btn-primary">Verstuur de share</button></td>
                    <td><button type="reset" class="btn btn-danger">Reset formulier</button></td>
                </tr>
            </table>    
        </div> 
    </form>
</div>
<!-- partial -->